.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 120rem;
}

.content-container-colored {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 120rem;
  background: lightcyan;
}