.text-input {
  border: 1px solid #cacccd;
  height: 40px;
  font-size: $font-size-large;
  font-weight: 300;
  padding-left: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.div-hoc {
  width: 100%;
  align-content:center;
}

.date-picker-left {
    width: 50%;
    float: left;
}

.date-picker-right {
  width: 50%;
  float: right;
}

.div-left {
  width: 50%;
  float: left;

}

.div-right {
  width: 50%;
  float: right;

}

.div-3-left {
width: 33%;
float:left;
}
.div-3-center {
width: 34%;
float: left;  
}
.div-3-right {
  width: 33%;
  float: right;  
}

.div-normal-166-left-text {
  width: 16%;
  float: left;
  margin-left: 1%;
  height: 40px;
  line-height: 40px;
}

.div-normal-48-left-text {
  width: 48%;
  float: left;
  margin-left: 1%;
  // height: 40px;
  // line-height: 40px;
}

.div-normal-25-left-text {
  width: 25%;
  float: left;
  margin-left: 1%;

}

.div-normal-22-left-text { //bigest
  width: 22%;
  float: left;
  margin-left: 1%;
}

.div-normal-7-left-input .text-input{
  width: 7%;
  float: left;
}


.div-normal-166-left-input .text-input{
  width: 16%;
  float: left;  
}